apiVersion: v1
kind: Service
metadata:
  name: node-app-service
spec:
  type: NodePort
  selector:
    app: node-app
  ports:
    - port: 80        # Port exposed outside
      targetPort: 4000  # Port inside container
      nodePort: 30007
